.carrousel{
    position: relative;
    width: 100% !important;

}

.carrousel-control-next, .carrousel-control-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #b3b1b16b;
    cursor: pointer;
    border-radius: 4px;
    padding: 0;
    
}

.carrousel-control-prev{ left: 4px; }
.carrousel-control-next{ right: 4px; }

.carrousel-item.active, .carrousel-item{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}
