.App{
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  height: 90vh;
}

.div1 {
  grid-row: span 4 / span 4;
  grid-column: 1;
  grid-row-start: 1;
}

.scroll {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 15px;
}

.scroll::-webkit-scrollbar-track {
  background: #eef0ff;
  border-radius: 999px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #898a94;
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #898a94;
}

.div2 {
  grid-column-start: 2;
  grid-column: span 4 / span 4;
  grid-row: 1;
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div3 {
  grid-column-start: 2;
  grid-column: span 4 / span 4;
  grid-row-start: 2;
  grid-row: span 3 / span 3;
  border: 2px solid green;
}
